@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-33.33%);
  }
}

.animate-scroll {
  animation: scroll 15s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}
